history/
log/
trainingList/
validationList/
.ipynb_checkpoints/
test/
showLog/
.vscode/
z
*.yml
*.hdf5
testingList/
weightFolder/
.DS_Store
data/
__pycache__/
text/
exeptPatient.txt
fail/
